[Unit]
Description=Solana Validator
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=solana
LimitNOFILE=1000000
LogRateLimitIntervalSec=0
Environment=PATH=/bin:/usr/bin:/root/.local/share/solana/install/active_release/bin:/home/solana/.local/share/solana/install/active_release/bin
TimeoutStartSec=1800
TimeoutStopSec=300
ExecStart=/home/solana/validator.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
