[Unit]
Description=Local Solana RPC Node
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=solana
Group=solana
WorkingDirectory=/opt/solana
Environment="RUST_LOG=info"
ExecStartPre=/bin/bash -c 'rm -f /mnt/ledger/ledger.lock /mnt/ledger/admin.rpc'
ExecStart=/usr/local/bin/agave-validator \
    --identity /opt/solana/identity.json \
    --ledger /mnt/ledger \
    --accounts /mnt/accounts \
    --rpc-port 8899 \
    --rpc-bind-address 127.0.0.1 \
    --dynamic-port-range 8000-8020 \
    --entrypoint entrypoint.mainnet-beta.solana.com:8001 \
    --entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
    --entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
    --known-validator 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2 \
    --known-validator GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ \
    --known-validator DE1bawNcRJB9rVm3buyMVfr8mBEoyyu73NBovf2oXJsJ \
    --known-validator CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S \
    --no-voting \
    --full-rpc-api \
    --limit-ledger-size 50000000 \
    --no-wait-for-vote-to-start-leader \
    --no-port-check \
    --no-untrusted-rpc \
    --log /opt/solana/validator.log
Restart=on-failure
RestartSec=10s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target