fastapi
uvicorn[standard]
passlib[bcrypt]
python-jose[cryptography]
ed25519
aiokafka
clickhouse-driver
psutil
uvloop
httptools
protobuf
tenacity
pandas
pyarrow
aiohttp
numpy
blake3
prometheus-client
lz4